body {
	font-family:Futura, Helvetica;
	font-size:14px;
}

button {
	font-size:12px;
	border-radius:1px;
	padding:5px 10px;
	cursor:pointer;
}

#videoplayer {
	position:fixed;
	z-index:3;
	/*border:10px solid rgb(0, 240, 255);*/
	border-radius: 6px;
}

#drawing {
	position:relative;
	cursor: crosshair;
	left: -210px;
	z-index:10;
	color: black;
}

#control {
	position:fixed;
	bottom:10px;
  cursor:pointer;
}

i.icon-colour {
  color: black;
}

#video_url {
	position:fixed;
	left:10px;
	top:10px;
	left:calc(50% - 250px);
	top:calc(50% - 80px);
	text-align:center;
	width:500px;
	border-radius:6px;
	padding:20px 0px;
	color: black;
}
#checkpointlist {
	position:fixed;
	right:0px;
	top:0px;
	bottom:0px;
	overflow:auto;
	width: 200px;
	/*width: (ww - videoW - 30)px;*/
}

#checkpointlist .item {
	padding:5px;
	background:rgb(200, 200, 200);
	text-align:center;
	font-weight:bold;
	border-radius:2px;
	margin-bottom:1px;
}

#checkpointlist .label {
	cursor:pointer;
}

#checkpointlist .note {

}

label:hover {
    background: #f2f5ff;
    border-radius:5px;
    padding:2px 4px;
}
